/* resets */

body,
h1,
p {
  margin: 0;
}

body {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 16px;
}

li {
  list-style: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #69696a;
  padding: 5px 5px 5px 0;
  display: inline-block;
}

.accent {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.call-to-action {
  border-left: 3px solid black;
  padding-left: 10px;
}

.call-to-action-link {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(247, 193, 162, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

footer nav ul {
  display: flex;
}

footer a {
  padding: 5px 0 5px 5px;
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  header ul {
    display: flex;
    justify-content: center;
  }

  .c-1 {
    background: rgba(207, 130, 213, 0.6);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 70px;
  }
  .c-2 {
    background: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    right: 35px;
    top: 30px;
  }
  .c-3 {
    background: rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 50px;
    left: 50px;
  }

  main {
    display: flex;
    justify-content: center;
    position: relative;
  }

  main ul {
    align-items: center;
    justify-content: center;
  }

  .info {
    padding-right: 300px;
  }
}
