body {
  font-family: Open Sans;
  background-color: #f9fafc;
}

header {
}
header ul {
  padding-left: 0;
  color: #69696a;
}
header ul li {
  padding: 3px;
}
header ul span {
  color: #000;
}

button {
  border: 0;
  background-color: #000;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
}
button a {
  text-decoration: none;
  color: #fff;
}

main p {
  border-left: 2px solid #000;
  padding-left: 10px;
  color: #69696a;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(247, 193, 162, 0.7);
}

footer ul {
  color: #69696a;
  padding-left: 0;
}

footer ul li span {
  color: #000;
  float: left;
  padding-left: 10px;
}

.float-r {
  float: right;
  padding: 0 10px 10px 10px;
}
